/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require_tree .
 *= require_self
 @import "semantic-ui";
 */


 #map{
   width: 90%;
   height: 600px;
 }

body{
  background-color: rgb(144, 154, 168);
}

#new_article, #new_user{
  text-align: left;
}


 .admin{
   color: black;
   float: left;
 }

 .log{
   float: right;
   color: black;
   font-size: 1.2em;
   color: black;
 }

 .mainMenu{
   text-align: center;
   widtgh: 40%;
   margin: 5% 5% auto 5%;
   color: black;

 }

 .list{
   margin: 0 auto;
   width: 40%
   display: inline;
   line-height: normal;
 }

 .menuItem{
   font-size: 1.5em;
   margin:  4%;
   font-size: 1.9em;
 }

 .menu {
   text-align: center;
 }

 .header{
   color: black;
   background-color: ;
   font-size: 1.2em;
 }

 .indexpage{
   margin: auto;
   width: 50%;
   border: 5px solid black;
   padding: 10px;
   font-size: 1.6em;
   color: red;
 }
 .map{
   width: 100%;
 }
