<div class ="container-fluid map">




        <div id="map" class="responsive center"></div>

        <script type="text/javascript">

           map = new google.maps.Map(document.getElementById('map'), {
            zoom: 10,
            center: new google.maps.LatLng(37.725685, -122.156830),
          mapTypeId: google.maps.MapTypeId.ROADMAP
          });

          var places = <%= @locations.to_json.html_safe %>
          var infowindow = new google.maps.InfoWindow();
          var marker, i;

          for (i = 0; i < places.length; i++) {

            marker = new google.maps.Marker({
              position: new google.maps.LatLng(places[i].lat, places[i].lng),
              map: map
            });

            google.maps.event.addListener(marker, 'click', (function(marker, i) {
              return function() {
                infowindow.setContent(places[i].location_name + "   |   " + places[i].location_address  + places[i].location_description);
                infowindow.open(map, marker);
              }
            })(marker, i));
          }
        </script>

  </div>
