<div class="container-fluid title center">
  <h2>Code Four Discounts</h2></br>
  <h3>Find Discounted food</h3>
  <h4>for EMTs/Medics</h4>
  <div>
  If you get any downtime, checkout nearby places that offer discounted food
  for Emt's and Paramedics. Know a Spot? <br />
  Sharing is Caring!
  </div>


</div>
